<footer>
		<a href="about.html">
			<img class="fButtons" src="images/profiel.png" alt="Profiel knop">
		</a>
		<a href="about.html">
			<img class="fButtons" src="images/chats.png" alt="Chat overzicht knop">
		</a>
	</footer>
	<script src="/js/main.js"></script>
	<script src="/js/progressive.js"></script>
</body>

</html>