<% include partials/header%>
<main>
    <% if(errors != undefined){ %>
            <% errors.forEach(function(error){ %>
                <p id="errorMsg"><%= error.msg %> </p>
        <% }) %>
    <% } %>
   <form method="POST" action="/">
        <input type="text" placeholder= "Voeg interesse toe" name="interest">
        <input type="image" src="images/submit-button.png" border="0" alt="Submit" />
   </form>
   <section> 
       <% data.forEach(function(interest){ %>
        <p><%= interest.name %></p> 
        <input type="submit" class="deleteButton" value="X">
       <%})%>
        </section> 
</main>
<% include partials/footer%>