<% include partials/header%>
<main>
    <h2>Voeg interesse toe</h2>
    <% if(errors){ %>
        <% errors.forEach(function(error){ %>
            <li><%= error.msg %> </li>
        <% }) %>
    <% } %>
   <form method="post" action="/">
        <input type="text" name="interesse">
        <input type="submit" value = "">
   </form>
   <section> 
        <p><%= interesst %></p> 
        </section> 
</main>
<% include partials/footer%>