<% include partials/header%>
<main>
    <ul>
        <% matches.forEach(function(matches){ %>
            <li>
                <img src="images/adult-beautiful-close-up-1776862.jpg">
                <p><%= matches.name %></p>
            </li>
      <% }) %>
    </ul>
</main>
<% include partials/footer%>