<% include partials/header%>
<main>
    <% if(errors != undefined){ %>
            <% errors.forEach(function(error){ %>
                <p id="errorMsg"><%= error.msg %> </p>
        <% }) %>
    <% } %>
   <form method="POST" action="/">
        <input type="text" placeholder= "Voeg interesse toe" name="interesst">
        <input type="image" src="images/submit-button.png" border="0" alt="Submit" />
   </form>
   <section> 
       <% interesst.forEach(function(interesst){ %>
        <p><%= interesst.name %></p> 
       <%})%>
        </section> 
</main>
<% include partials/footer%>