<% include partials/header%>
<main>
    <h2>Voeg interesse toe</h2>
    <% if(errors){ %>
        <% errors.forEach(function(error){ %>
            <li><%= error.msg %> </li>
        <% }) %>
    <% } %>
   <form method="POST" action="/interesses/add">
        <input type="text" name="interesse">
        <input type="submit" value = "">
   </form>
</main>
<% include partials/footer%>