<!DOCTYPE html>
<html lang="nl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Interesses</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 


</head>

<body>
    <header>
        <img id="logo" src="images/haak.png" alt="Logo hooked">
        <a id="settings" href="google.com"><img src="images/settings.png" alt="Setting button"></a>
        <ul>
            <li>
                <h1>Login</h1>
            </li>
        </ul>
    </header>
    <body>
        <section class="login">
            <form action="/submit" method="post">
               <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="e-mail">
                <label for="password">password</label>
                    <input type="password" id="password" placeholder="password">
                    <input type="submit" id="submit" value="login">
            </form>
            </section>
    </body>
    <footer>
        <a href="about.html">
            <img class="fButtons" src="images/profiel.png" alt="Profiel knop">
        </a>
        <a href="about.html">
            <img class="fButtons" src="images/chats.png" alt="Chat overzicht knop">
        </a>
    </footer>
    <script src="../../js/index.js"></script>
</body>

</html>